@import 'initialize';

.member-group {
  h2 {
    @extend %font-m;
    margin: 0 0 .5em;
  }

  div {
    background-color: $background-gray;
    padding: 1em;

    &:last-child {
      margin-bottom: 2em;
    }
  }

  span {
    color: $text-gray;
    line-height: 1.4;

    &:after {
     content: " | ";
    }

    &:last-child {
      &:after {
        content: "";
      }
    }

    &:hover {
      color: $bodytext-black;
    }
  }
}

.large-donors {
  @extend %font-base;
  font-style: italic;
  margin: 0;

  div {
    padding: 0 1em;

    &:last-child {
      padding-bottom: 2em;
    }
  }

  h3 {
    margin: 0 0 .5em;
    padding-top: 1em;
  }
}

.clear {
  margin-bottom: 1em;
}
